<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seedxyx.noteinfingers" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.InitialAty"
            android:label="@string/app_name_ch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectAty"
            android:label="@string/title_activity_select_aty" >
        </activity>
        <activity
            android:name=".activity.OnePageAty"
            android:label="@string/title_activity_one_page_aty" >
        </activity>
    </application>

</manifest>
